import glob
import os
from setuptools import setup, find_packages

resource_dir = '${name}/mi/instrument/${driver_path}/resource'
data_tuple = ()
for f in glob.glob(resource_dir + '/*'):
    data_tuple = data_tuple + (resource_dir, [f])
data_tuple = data_tuple + ('${name}/mi', ['${name}/res/config/mi-logging.yml'])
data_tuple = data_tuple + ('${name}/mi/instrument/${driver_path}', ['${name}/mi/instrument/${driver_path}/metadata.yml'])
print data_tuple

setup(
    name='${name}',
    version='${version}',
    description='${description}',
    author='${author}',
    author_email='${email}',
    url='${url}',
    packages=find_packages(),
    data_files=[data_tuple],
    entry_points = {
        'setuptools.installation': [
            'eggsecutable = ${name}.mi.main:run',
        ],
    },
    dependency_links = [
        'https://github.com/ooici/utilities/tarball/master#egg=utilities-9999'
    ],
    install_requires = [
        'pyzmq==2.2.0',
        'pyyaml==3.1.0',
        'ntplib',
        'utilities'
    ]
)
