import glob
from setuptools import setup, find_packages

resource_dir = '${name}/mi/dataset/driver/${driver_path}/resource'
data_list = []
for f in glob.glob(resource_dir + '/*'):
    data_list.append((resource_dir, [f]))
data_list.append(('${name}/mi', ['${name}/res/config/mi-logging.yml']))
data_list.append(('${name}/mi/dataset/driver/${driver_path}', ['${name}/mi/dataset/driver/${driver_path}/metadata.yml']))

setup(
    name='${short_name}',
    version='${version}',
    description='${description}',
    author='${author}',
    author_email='${email}',
    url='${url}',
    packages=find_packages(),
    data_files=data_list,
    entry_points = {
        '${entry_point_group}': '${versioned_constructor}'
    },
    
    dependency_links = [
        'https://github.com/ooici/utilities/tarball/master#egg=utilities-9999'
    ],
    install_requires = [
        'pyzmq==2.2.0',
        'pyyaml==3.10',
        'ntplib',
        'utilities'
    ]
)
